section.contact{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.contact_info{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: 1.5em;
    overflow: hidden;
}

.contact_info > div {
    display: flex;
    align-items: center;
    gap: 2em;
}

.contact_info > form{
    width: 100%;
    background: var(--gradient);
    display: flex;
    padding: 1em 30vw;
    gap: 0.2em;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    /* font-size: 1.5em; */
}

.contact_info > form > input,
.contact_info > form > textarea{
    flex: 1;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.contact_info > form > button{
    background-color: var(--primary);
    /* color: white; */
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    font-weight: bold;
    font-size: large;
    transition-duration: 0.35s;
}
.contact_info > form > button:hover{
    background-color: rgb(0, 55, 255);
    cursor: pointer;
}

.contact_info .linkedin {
    color: white;
    padding: 0.5em;
    background-color: var(--primary) !important;
    transition-duration: 0.35s;
}
.contact_info .linkedin:hover {
    color: white;
    background: var(--gradient);
}