*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
}

:root{
    --primary: #2185D5; 
    --secondary: #FCD757; 
    --gradient: radial-gradient(circle at bottom right,rgba(0,62,94,1) 0%, rgb(35, 96, 146) 25%, rgba(10,60,111,1) 50%, rgba(0,17,41,1) 80%);
    --gradient-black: radial-gradient(circle at bottom right,rgb(255, 255, 255) 0%, rgba(13,17,23,1) 70%);
    --black-50: rgba(0,0,0,0.5);
}

h1, h2, h3 {
    margin-bottom: .75em;
}

h1{
    font-size: 2rem;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background: var(--gradient); */
}


header {
    color: var(--primary);
    background: var(--gradient);
    /* background: linear-gradient(159deg, rgba(33,133,213,1) 0%, rgba(181,230,255,1) 53%, rgba(79,127,192,1) 100%); */
    padding: 0.75rem;
    font-size: 1.5em;
    font-weight: 700;
    
}

nav {
    background-color: #2185D5;
}

nav > ul {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    gap: 2em;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header a,
nav a {
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 2em;
    color: #fff;
    transition-duration: 0.35s;
    font-weight: 700;
}

a:hover {
    background-color: #00A0F7;
}

header > a:hover {
    background-color: var(--black-50);
    font-size: 1.1em;
}

body > section,
body > div {
    padding: 1rem;
    flex: 1;
    overflow: hidden;
}

section .about{
    display: flex;
    gap: 1em;
}

section .about > .content {
    background-color: #fff;
}

.title {
    border-bottom: 2px solid var(--primary);
}


/* Sobre */
    .about > .img_container{
        border-radius: 16px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width: 1520px){
        .about > .img_container{
            flex: 1;
        }

        .about > p{
            flex: 1
        }
    }

    .img_container img{
        margin: 0 auto
    }

    .about > div > p {
        flex: 2;
        margin: 0.5em;
        text-align: justify;
        font-size: 1.25em;
    }
  
